@model Decking
@{ ViewBag.Title = TempData["Action"];}

<h2>@TempData["Action"]</h2>

<ul class="list-group">
    <li class="list-group-item">
        <label>Product Code:</label>
        @Model.Product_Code
    </li>
    <li class="list-group-item">
        <label>Name:</label>
        @Model.Name
    </li>
    <li class="list-group-item">
        <label>Deck Type:</label>
        @Model.Deck_Type
    </li>
    <li class="list-group-item">
        <label>Price Per Square Foot:</label>
        @Model.Price_Per_SqFt
    </li>
    <li class="list-group-item">
        <label>Image:</label>
        <a asp-area="" asp-action="Details" asp-controller="Decking"
           asp-route-id="@Model.Id" asp-route-slug="@Model.Slug()">
            <img src="~/images/@Model.Image" alt="Image of a product" />
        </a>
    </li>
    <li class="list-group-item">
        <a asp-area="" asp-action="Edit" asp-controller="Decking"
           asp-route-id="@Model.Id"
           class="btn btn-dark">Edit</a>

        <a asp-area="" asp-action="Delete" asp-controller="Decking"
           asp-route-id="@Model.Id"
           class="btn btn-dark">Delete</a>

        <a asp-area="" asp-action="Index" asp-controller="Home"
           class="btn btn-primary">Home</a>
    </li>
</ul>